<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trabajo.carlos.memorycardgamematerial">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconito"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".RankingActivity"
            android:label="@string/title_activity_ranking"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".PantallaInicioActivity" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>